.promo {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 515px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 500px;
}
.swiper-slide {
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 80%;
  background-image: url('img/gasoline-4518.jpg');
}
.swiper-slide--2 {
  background-position: 80%;
  background-size: 500px;
  background-image: url('img/hoper-900mq.jpg');
}
.swiper-slide--3 {
  background-position: 80%;
  background-size: 400px;
  background-image: url('img/gbc-043.jpg');
}
.promo__text-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  width: 75%;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: @fontfamily-ptsans;
  font-size: @fontsize-big;
  line-height: @lineheight-h3;
  letter-spacing: 0.1em;
}

.promo__subtitle {
  margin-top: 0;
  font-weight: normal;
  font-size: @fontsize-big;
  line-height: @lineheight-h3;
  color: @color-grey;
}

//@media @tablet-widths {
//  .promo {
//    min-height: 745px;
//  }
//
//  .promo__title {
//    font-size: @fontsize-h3;
//  }
//  .promo__subtitle {
//    font-size: @fontsize-big;
//  }
//}
//
//@media @desktop-widths {
//
//  .promo {
//    min-height: 845px;
//  }
//
//}
