@fontsize-maintitle: 48px;
@fontsize-paragraph: 15px;

@lineheight-paragraph: 25px;
@lineheight-maintitle: 100px;

@color-maintext: #010101;
@color-primary: #bea67c;

/*LEGO*/
@padding-x: 10px;
@padding-y: 20px;
